* {
	box-sizing: border-box;
}
p {
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
	
}
figure {
	margin: 0;
	overflow: hidden;
}
img {
	width: 100%;
	height: 100%;
}
h1 {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 50px;
	max-width: 860px;
	font-family: DIN Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
}
.newsBanner {
	width: 100%;	
}
.newsBanner {
	figure.image-cover {
		max-height: 470px;
	}
	
}
.mainNewsContainer {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.newsContainer__left {
	display: flex;
	flex-direction: column;
	width: calc(100% / 3 *2);
	border-right: 1px solid#cfcfcf;
}
.newsContainer__right {
	display: flex;
	flex-direction: column;
	height: 200px;
	width: calc(100% / 3);

	.regions {
		display: flex;
		flex-direction: column;
		padding: 60px 30px;
		font-family: DIN Pro;
		font-style: italic;
		font-weight: bold;
		font-size:36px;
		text-transform: uppercase;
		span {
			margin-bottom: 12px;
			&:first-child {
				color: #FF942D;
			}
			&:nth-child(2) {
				color: #0070BA;
			}
			&:last-child {
				margin-bottom: 0;
				color: #4DD6CB;
			}
		}
	}
}

.news__date {
	font-family: Din Pro;
	font-weight: 500;
	font-size: 32px;
	text-transform: uppercase;
	color: #aaa;
}
.news {
	padding: 80px 80px 70px 60px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #cfcfcf;
	p {
		font-family: DIN Pro;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 40px;
		&.announcement {
			font-weight: 500;
			margin-bottom: 30px;
		}	
	}		
}
.podcast {
	display: flex;
	flex-direction: column;
	padding: 0 148px 0 170px;
	.podcast-text {
		position: relative;
		font-family: DIN Pro;
		font-style: italic;
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		color: #0F0F0F;
		.podcast-arrow-left, .podcast-arrow-right {
			position: absolute;
			max-width: 55px;
			max-height: 62px;
		}
		.podcast-arrow-left {
			top: -23px;
			left: -75px;
		}
		.podcast-arrow-right {
			right: -75px;
			bottom: -23px;
		}
	}
	
	.audio-track-avatar {
		display: flex;
		figure {
			max-width: 100px;
			max-height: 100px;
			width: 100%;
			height: 100%;
			overflow: hidden;
			border-radius: 50%;
			margin-right: 30px;
		}
		.author-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			h3{
				margin: 0;
				font-family: DIN Pro;
				font-style: normal;
				font-weight: 500;
				font-size: 22px;
				text-transform: uppercase;
			}
			p {
				margin: 0;
				font-family: DIN Pro;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				color: #AAAAAA;
			}
		}
		
	}
}
.reference {
	position: relative;
	padding: 64px 148px 104px 230px;
	border-bottom: 1px solid #cfcfcf;
	background-image: url('../images/green-lines.svg');
	background-repeat: no-repeat;
	background-position: left center;
	h2 {
		margin: 0;
		font-family: DIN Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;	
		display: flex;
		align-items: flex-end;
		text-transform: uppercase;
		color: #000000;
	}
	p {
		margin-top: 30px;
		font-family: DIN Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 29px;
	}
}
.slider-with-arrows {
	padding: 42px 30px 42px 60px;
	figcaption {
		font-family: DIN Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 30px;
		color: #AAAAAA;
	}
	figure {
		margin-bottom: 10px;
	}
	.bottonsContainer {
		display: flex;
		justify-content: flex-start;
		.bottons-left, .bottons-right {
			margin: 0;
			width: 28px;
			height: 28px;
			border: none;
			outline: none;
			border-radius: 50%;
			background-color: #FF942D;
			&:hover {
				cursor: pointer;
			}
			&:disabled {
				background-color:rgba($color: #FF942D, $alpha: 0.5)
			}
		}
		.bottons-left{
			margin-right: 10px;
			background-image: url('../images/arrow-left.svg');
			background-repeat: no-repeat;
			background-position: center center;
		}
		.bottons-right {
			background-image: url('../images/arrow-right.svg');
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	
}